#container {
    position: relative;
}
body{
  background-image: url("ghg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#ball {
    width: 20px;
    height: 20px;
    background-color: black;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
    box-shadow: 0 0 20px #ff0000;
    opacity: 10;
}

#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {
    /* background-color: blue; */
    background-color:black;
    top: 0px;    


    border: 6px solid transparent;
  border-image: linear-gradient(#ff1414,#ffeb3b,#ff1414);

  border-image-slice: 1;

    top: 0px;    
}

#rod2 {
    /* background-color: blueviolet; */
    background-color: black;
    bottom: 0px;



   
 border-radius: 25px;

    border: 6px solid transparent;
  border-image: linear-gradient(#ff1414,#ffeb3b,#ff1414);

  border-image-slice: 1;
    bottom: 0px;
}
.module {
    max-width: 250px;
    padding: 1rem;
    color: rgb(0, 0, 0);
  
    position: relative;
    left:40%;
    top: 100px;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }
  .rod-glow {
    box-shadow: 0px 0px 15px #000000, 0px 0px 25px #fff, 0px 0px 50px #ff0000;
  }
  
  .rod {
    /* Add any other styles for the rod here */
    transition: box-shadow 0.5s ease;
  }
  